<header class="header">
  <svg class="logo">
    <use xlink:href="../assets/images/sprite.svg#logo"></use>
  </svg>
</header>

<main>
  <div class="card grid grid--1x2">
    <div class="card-inputs">
      <form>
        <div class="form-group">
          <label for="bill">Bill</label>
          <div class="input-group">
            <svg class="icon icon-dollar">
              <use xlink:href="../assets/images/sprite.svg#icon-dollar"></use>
            </svg>
            <input
              type="number"
              name="bill"
              [(ngModel)]="bill"
              placeholder="0"
              id="bill"
            />
          </div>
        </div>
        <div class="form-group">
          <label for="tip">Select Tip %</label>
          <div class="grid grid--1x3">
            <button
              *ngFor="let tip of tipValues"
              (click)="tipSelected(tip.id)"
              class="btn btn--primary"
            >
              {{ tip.value }}%
            </button>
            <button class="btn">Custom</button>
          </div>
        </div>
        <div class="form-group">
          <label for="people">Number of People</label>
          <div class="input-group">
            <svg class="icon icon-dollar">
              <use xlink:href="../assets/images/sprite.svg#icon-person"></use>
            </svg>
            <input
              type="number"
              name="numberOfPeople"
              [(ngModel)]="numberOfPeople"
              placeholder="0"
              id="people"
            />
          </div>
        </div>
      </form>
    </div>
    <div class="card-outputs">
      <div>
        <div class="price">
          <div>
            <h3>Tip Amount</h3>
            <span>/ person</span>
          </div>
          <div class="value">{{ tipAmount | number }}$</div>
        </div>
        <div class="price">
          <div>
            <h3>Total</h3>
            <span>/ person</span>
          </div>
          <div class="value">{{ total | number }}$</div>
        </div>
      </div>
      <button class="btn btn--accent" (click)="reset()" [disabled]="!total">
        RESET
      </button>
    </div>
  </div>
</main>
